{{link-to "Test 1" "test1" class="link1"}}
{{link-to "Test 2" "test2" class="link2"}}
{{link-to "Escape" "escape"}}
{{link-to "Nested page" "nested.page"}}
<br><br>

<div id="the-message">{{message}}</div>

{{outlet}}
